:root{
    --neutralColor:  #ebeff2;
    --primaryColor:  #08182f;
    --secondaryColor:  #75a652;
    --tertiaryColor:  #bbb0a0;
}
@font-face {
    font-family: 'Undertale';
    src: url('./pixel-comic-sans-undertale-sans-font.otf/pixel-comic-sans-undertale-sans-font.otf') format('truetype')
}
body{
    height: 100%;
    margin: 0;
    padding: 0;
    background-color:  var(--primaryColor);
    color: var(--neutralColor);
    font-family: 'Undertale';
}
.nav-menu{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 32px;
    border-bottom: 1px solid white;
    width: 100%;
}
.menu-logo{
    width: 80px;
    height: 80px
}
.menu-items{
    display: flex;
    font-size: 24px;
    list-style: none;
    gap: 16px;
}

.menu-items>li{
    cursor: pointer;
    transition: 0.3s ease-in-out;

}
.menu-items>li:hover{
    transform: scale(1.1);
}